{% extends 'base.html' %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
           
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mt-2">
                        {{form.as_p}}
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </form>
                
            </div>
        </div>
        <div class="col-md-4">
        
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}